<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KanDo</title>

    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/mediaQueries.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>

    <div class="sidebar-expand-btn">
      <img src="/assets/expand.png" alt="" />
    </div>

    <div class="sidebar-collapse-btn">
      <img src="/assets/collapse.png" alt="" />
    </div>

    <div class="sidebar-master-container sidebar-glass">

      <div class="logoContainer">
        <img src="/assets/logo.png" alt="Kan.Do logo" />
      </div>

      <a class="sidebar-item" href="/app"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6.66667 14.1668H13.3333M9.18141 2.30345L3.52949 6.69939C3.15168 6.99324 2.96278 7.14017 2.82669 7.32417C2.70614 7.48716 2.61633 7.67077 2.56169 7.866C2.5 8.08639 2.5 8.3257 2.5 8.80433V14.8334C2.5 15.7669 2.5 16.2336 2.68166 16.5901C2.84144 16.9037 3.09641 17.1587 3.41002 17.3185C3.76654 17.5001 4.23325 17.5001 5.16667 17.5001H14.8333C15.7668 17.5001 16.2335 17.5001 16.59 17.3185C16.9036 17.1587 17.1586 16.9037 17.3183 16.5901C17.5 16.2336 17.5 15.7669 17.5 14.8334V8.80433C17.5 8.3257 17.5 8.08639 17.4383 7.866C17.3837 7.67077 17.2939 7.48716 17.1733 7.32417C17.0372 7.14017 16.8483 6.99324 16.4705 6.69939L10.8186 2.30345C10.5258 2.07574 10.3794 1.96189 10.2178 1.91812C10.0752 1.87951 9.92484 1.87951 9.78221 1.91812C9.62057 1.96189 9.47418 2.07574 9.18141 2.30345Z"
            stroke-width="1.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <h3>Dashboard</h3></a>

      <h3 class="boards-title">YOUR BOARDS</h3>
      <div class="boardsList">
        {{#each user.boards as |board|}}
          <a class="sidebar-item" href="/app/board?boardId={{board.id}}">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.5 7.5L17.5 7.5M7.5 2.5L7.5 17.5M6.5 2.5H13.5C14.9001 2.5 15.6002 2.5 16.135 2.77248C16.6054 3.01217 16.9878 3.39462 17.2275 3.86502C17.5 4.3998 17.5 5.09987 17.5 6.5V13.5C17.5 14.9001 17.5 15.6002 17.2275 16.135C16.9878 16.6054 16.6054 16.9878 16.135 17.2275C15.6002 17.5 14.9001 17.5 13.5 17.5H6.5C5.09987 17.5 4.3998 17.5 3.86502 17.2275C3.39462 16.9878 3.01217 16.6054 2.77248 16.135C2.5 15.6002 2.5 14.9001 2.5 13.5V6.5C2.5 5.09987 2.5 4.3998 2.77248 3.86502C3.01217 3.39462 3.39462 3.01217 3.86502 2.77248C4.3998 2.5 5.09987 2.5 6.5 2.5Z"
                stroke-width="1.75"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3>{{board.title}}</h3>
          </a>
        {{/each}}
      </div>
      <br />

      {{! new board modal }}
      <button class="newBoardBtn sidebar-item">
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.0416 0.791992C15.5248 0.791992 15.9166 1.18374 15.9166 1.66699V3.29199H17.4166C17.8998 3.29199 18.2916 3.68374 18.2916 4.16699C18.2916 4.65024 17.8998 5.04199 17.4166 5.04199H15.9166V6.66699C15.9166 7.15024 15.5248 7.54199 15.0416 7.54199C14.5583 7.54199 14.1666 7.15024 14.1666 6.66699V5.04199H12.6666C12.1833 5.04199 11.7916 4.65024 11.7916 4.16699C11.7916 3.68374 12.1833 3.29199 12.6666 3.29199H14.1666V1.66699C14.1666 1.18374 14.5583 0.791992 15.0416 0.791992ZM6.61121 1.62533L6.64992 1.62533H9.89575C10.379 1.62533 10.7708 2.01708 10.7708 2.50033C10.7708 2.98357 10.379 3.37533 9.89575 3.37533H7.44995V6H11.3999C11.8832 6 12.2749 6.39175 12.2749 6.875C12.2749 7.35825 11.8832 7.75 11.3999 7.75H7.44995L7.44995 16.6253H12.3499C13.2519 16.6253 13.8729 16.6246 14.3548 16.5831C14.8251 16.5427 15.0831 16.4683 15.274 16.3659C15.7019 16.1364 16.0581 15.7656 16.2839 15.2991C16.3887 15.0824 16.4619 14.7938 16.5011 14.2886C16.541 13.7745 16.5416 13.1141 16.5416 12.167V9.58366C16.5416 9.10041 16.9333 8.70866 17.4166 8.70866C17.8998 8.70866 18.2916 9.10041 18.2916 9.58366V12.167V12.2026V12.2027C18.2916 13.1058 18.2916 13.8342 18.2458 14.424C18.1987 15.0306 18.0993 15.5651 17.859 16.0615C17.4776 16.8494 16.8649 17.4985 16.1011 17.9081C15.6147 18.169 15.0906 18.2763 14.5048 18.3267C13.9391 18.3753 13.2426 18.3753 12.3887 18.3753H12.3499H6.64992H6.61112C5.75729 18.3753 5.06077 18.3753 4.49508 18.3267C3.90924 18.2763 3.38518 18.169 2.89871 17.9081C2.13495 17.4985 1.52221 16.8494 1.14081 16.0615C0.900542 15.5651 0.801098 15.0306 0.75402 14.424C0.708238 13.8342 0.708244 13.1058 0.708252 12.2026V12.2026V12.167V7.83366V7.79804V7.79803C0.708244 6.89483 0.708238 6.16645 0.75402 5.57662C0.801098 4.97009 0.900542 4.43551 1.14081 3.93913C1.52221 3.15121 2.13495 2.50218 2.89871 2.09254C3.38518 1.83163 3.90924 1.72434 4.49508 1.67396C5.06079 1.62531 5.75734 1.62531 6.61121 1.62533ZM5.69995 6V3.37818C5.27695 3.38233 4.93567 3.39253 4.64504 3.41752C4.17478 3.45796 3.91678 3.53233 3.72585 3.63473C3.29793 3.86425 2.94179 4.23509 2.71598 4.70159C2.61111 4.91825 2.53798 5.2069 2.49877 5.71204C2.4917 5.80317 2.48586 5.8989 2.48104 6H5.69995ZM2.45826 7.75H5.69995L5.69995 16.6225C5.27695 16.6183 4.93567 16.6081 4.64504 16.5831C4.17478 16.5427 3.91678 16.4683 3.72585 16.3659C3.29793 16.1364 2.94179 15.7656 2.71598 15.2991C2.61111 15.0824 2.53798 14.7938 2.49877 14.2886C2.45887 13.7745 2.45825 13.1141 2.45825 12.167V7.83366C2.45825 7.80552 2.45825 7.77764 2.45826 7.75Z"
            stroke="none"
          />
        </svg>
        Create new board</button>

      <dialog class="newBoardModal modal">
        <div class="modalInsideWrapper">
          <div class="modalTitle">
            <h3>Create new board</h3>
            <button class="closeModal" type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <form action="/app/newBoard" method="post">
            <div class="modalInputwithTitle">
              <p>Enter a name for your new board</p>
              <input class="input" type="text" name="title" placeholder="Write name here" required />
            </div>

            <div class="modalButtons">
              <button class="closeModal cta-btn cancelModalBtn" type="button">Cancel</button>
              <button class="cta-btn" type="submit">Create</button>
            </div>

          </form>
        </div>
      </dialog>

      <div class="watermark"><p>Made with ♥ by Husain Zaidi</p></div>

    </div>

    <script src="/js/sidebarScript.js"></script>
  </body>
</html>