<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kan.Do</title>
    <link rel="shortcut icon" href="./assets/icon-purple-light.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/error.css" />
    <link rel="stylesheet" href="/css/mediaQueries.css" />
  </head>
  <body>

    <div class="IndexLogo">
      <img src="/assets/logo.png" alt="Kan.Do" />
    </div>

    <div class="errorWrapper">

      <img src="/assets/error-100.png" alt="" />

      <div class="errorInfo">
        <h1>Oops! We've hit a Snag!</h1>
        <h3>Looks like we've taken a wrong turn into the uncharted territories of the Internet. This page is so exclusive, it doesn't even exist! But don't worry, our team (of one) highly trained internet-space explorer is on it.</h3>

        <h6>While we figure this out, why not take this opportunity to reflect on life's great mysteries? Like, why do we never see baby pigeons? Or better yet, head back to our app.</h6>

        <button class="cta-btn" onclick="window.location.href='/app';">Return to App</button>

        <p>{{err}}</p>

      </div>

    </div>

    <div class="indexWatermark"><p>Made with ♥ by Husain Zaidi</p></div>

  </body>
</html>