<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kan.Do</title>
    <link rel="shortcut icon" href="./assets/icon-purple-light.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="/css/mediaQueries.css" />
  </head>
  <body>

    <div class="IndexLogo">
      <img src="./assets/logo.png" alt="Kan.Do" />
    </div>

    <div class="IndexWrapper">
      <div class="blurbContainer">

        <h1>With <span id="kanDo">Kan.Do</span>,<br /> You Can Do it too!</h1>
        <p>Kan.Do transforms your goals into achievements with an intuitive kanban board app designed for everyone. From planning your next big project to managing daily tasks, Kan.Do makes productivity accessible and fun.</p>
        <ul>
          <li><span class="bold">Customize Your Workflow: </span>Tailor your boards to fit your unique needs.</li>
          <li><span class="bold">Visualize Progress:</span> Easily move tasks from 'To-Do' to 'Done.'</li>
          <li><span class="bold">Access Anywhere:</span> Your productivity hub goes where you go.</li>
        </ul>

        <p>Join Kan.Do today and start turning your can’ts into cans and your dreams into plans. <span class="text-pink">It’s free for life!</span> </p>
        <h3 class="bold text-16">Dive In. Do More. Kan.Do.</h3>

      </div>

      <div class="imageContainer">
        <img class="defaultHero" src="./assets/landing page astro full res.png" alt="Kanban Board" />
        <img class="mobileHero" src="./assets/astro-mobile-landing.png" alt="Kanban Board" />
      </div>

      <div class="formContainer">

        <h2 class="formTitle bold text-16">Let’s get you on board! <span class="text-pink bold text-16"> It's free!</span></h2>

        <form class="loginForm" action="/login" method="POST">

          <input class="input" type="text" name="username" placeholder="Enter username" required value="GuestLogin" />
          <input class="input" type="password" name="password" placeholder="Enter password" required value="GuestLogin" />

          <button class="cta-btn signin-btn" type="submit">Sign in</button>
        </form>

        {{! <div class="orBreak">
          <hr style="width: 40%; display:" />
          <span>or</span>
          <hr style="width: 40%;" />
        </div> }}

        <div style=" width: 100%; height: 10px; border-bottom: 1px solid rgb(70, 70, 70); text-align: center; margin: 8px 0;">

          <span class="or">
            or
          </span>
        </div>

        <div class="signupContainer">

          <a href="/auth/google"><button class="btn-dark social-btn"><img src="./assets/google.png" alt="" />Continue with Google</button></a>

          <a href="/auth/facebook"><button class="btn-dark social-btn"><img src="./assets/facebook.png" alt="" />Continue with Facebook</button></a>

        </div>
        <h3>Don't have an account? <a class="text-16 bold text-purple" href="/signup">Sign up!</a></h3>
      </div>

    </div>

    <div class="indexWatermark"><p>Made with ♥ by Husain Zaidi</p></div>

  </body>
</html>