body {
  /* padding-left: 260px; */
  background-image: url("../assets/app-bg.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: left;
  overflow: hidden;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.appWrapper {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  padding: 36px;
  height: 100vh;
  /* overflow: hidden; */
}

/* astronaut image */
.astro-img-container img {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* --------- top bar section --------- */
.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 24px; */
}

.greeting {
  font-size: 32px;
  font-weight: 400;
  color: var(--light-grey-purple);
}

.name {
  font-size: 32px;
  font-weight: 700;
  color: var(--neutral100);
}

/* --------- PROFILE LOGOUT ----------- */
.profileContainer,
.profileName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  position: relative;
}

.profileName h3 {
  color: var(--neutral500);
}

.profileContainer:hover {
  cursor: pointer;
}

.profilePic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profileDropdown {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  min-width: 100%;
  background-color: var(--modal-bg);
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.profileContainer:hover > .profileName > .profileDropdown {
  display: block;
}

.profileDropdown:hover {
  display: block;
}

.profileDropdown a:hover {
  color: var(--accent-pink);
}

#currentDateTime {
  font-size: 16px;
  /* color: var(--neutral500); */
  color: var(--light-grey-purple);
  font-weight: 600;
  margin: 16px 0;
}

/* ----------- WIDGETS ---------- */

.widgets-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  margin: 0 auto;
  margin-top: 24px;
}

.metrics-container,
.graph-container {
  padding: 24px;
  border-radius: 16px;
}

.metrics-container .title {
  font-size: 16px;
  font-weight: 600;
}

.metrics-container .subtext {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral500);
  margin-top: 8px;
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 36px;
}

.metric {
  text-align: center;
}

.metric-value {
  font-size: 64px;
  font-weight: 700;
  /* color: var(--text-purple); */
}

.metric-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--neutral500);
  margin-top: 8px;
  margin-bottom: 12px;
}

/* --------- ASTRO IMAGE ---------- */
.solo-astro {
  height: 550px;
  z-index: -1;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.5s ease-out, top 0.5s ease-out; /* Added top transition for smooth vertical movement */
}
